body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    background-color: #f4f4f4;
}


.calendar {
    width: 90%; /* Adjusted width for responsiveness */
    max-width: 400px; /* Added maximum width to prevent calendar from becoming too wide on large screens */
    background: white;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    margin-bottom: 20px;
}

.month {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
}

.month h1 {
    margin: 0;
    font-size: 18px;
}

.weekdays {
    display: flex;
    background-color: #ddd;
    padding: 10px;
    font-weight: bold;
    justify-content: space-around;
}

.weekdays div {
    width: 14.28%;
    text-align: center;
}

.days {
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    background-color: white;
}

.days .day {
    width: 14.28%;
    height: 40px;
    text-align: center;
    line-height: 40px;
    margin-bottom: 5px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.days .day.completed {
    background-color: #4CAF50;
    color: white;
}

.date-display {
    margin: 20px 0;
    font-size: 20px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

form label {
    margin-bottom: 10px;
}

form button {
    padding: 5px 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

form button:hover {
    background-color: #45a049;
}
